sudo: false

language: node_js
node_js:
  - "10"
  - "9"

addons:
  apt:
    packages:
    - make
    - librsvg2-bin
    - plantuml
    #- wine

# need spectron test
before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 5 # give xvfb some time to start

script:
  - make ci-test

