@charset "utf-8";

html, body{
	margin: 0;         /* 余白の削除 */
	padding: 0;        /* 余白の削除 */
	width:100%;
	height:100%;

	background: linear-gradient(0deg, rgba(245, 245, 245, 1), rgba(245, 245, 245, 1));
}

#apply-button{
	margin: 1px;
	padding: 2px;
	border: solid 1px rgba(0, 0, 0, 1);
}

#apply-button object{
	margin: 2px;
	border: solid 1px rgba(0, 0, 0, 1);
	pointer-events: none;	/* click event */
}

.box-container{
	display: flex;
}

.frame{
	margin: 2px;
	border: solid 1px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

