@charset "utf-8";

html, body{
	margin: 0;         /* 余白の削除 */
	padding: 0;        /* 余白の削除 */
	width:100%;
	height:99%;

	background: linear-gradient(0deg, rgba(245, 245, 245, 1), rgba(245, 245, 245, 1));
}

div{
	margin: 0;
	padding: 0;
}

.box-container{
	display: flex;
}

.frame{
	margin: 2px;
	padding: 1px;
	border: solid 1px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

#edit-control input{
	width: 80px;
}

#tool button{
	margin: 2px;
	padding: 0px;
}
#tool object{
	margin: 0px;
	padding: 0px;
	border: solid 1px rgba(0, 0, 0, 0.5);
	pointer-events: none;	/* click event */
}

#tool .tool-selected{
	background-color: rgba(0, 128, 255, 0.3);
}

#canvas-div input{
	width: 80px;
}

#editor input{
	vertical-align: middle;
}

#drawing-container{
	padding:	5px;
	width:		90vh;
	height:		85vh;
	overflow:	auto;
}

#drawing{
	margin: 0px;
}

