@charset "utf-8";

html, body{
	margin: 0;         /* 余白の削除 */
	padding: 0;        /* 余白の削除 */
	width:100%;
	height:99%;

	background: linear-gradient(0deg, rgba(245, 245, 245, 1), rgba(245, 245, 245, 1));
}

div{
	margin: 0;
	padding: 0;
}

input{
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
}

input[type="number"]{
	text-align: right;
	width: 70px;
	direction: rtl;
}

input[type="checkbox"][disabled] + span{
	color: #707070;
}

#editor__background-transparent-view{
	font-size: 12px;
}

.box-container{
	display: flex;
}

.frame{
	margin: 2px;
	padding: 1px;
	border: solid 1px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}

table th{
	vertical-align: middle;
	text-align: left;
	overflow: visible;
	position: relative;
	font-weight: normal;
};

#tool button{
	margin: 2px;
	padding: 0px;
}
#tool object{
	margin: 0px;
	padding: 0px;
	border: solid 1px rgba(0, 0, 0, 0.5);
	pointer-events: none;	/* click event */
}

#tool .tool-selected{
	background-color: rgba(0, 128, 255, 0.3);
}

#canvas-header{
	font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
	font-size: 10px;
}

#editor input{
	vertical-align: middle;
}

#canvas-container{
	padding:	5px;
	width:		90vh;
	height:		85vh;
	overflow:	auto;
}

#canvas{
	background: white;
	margin: 0px;
	position:absolute; top:50px; bottom:0px; left:280px; right:0px;
	overflow:	auto;
	cursor: default;
}

